*{
	margin:0;
	padding:0;
}
html, body{
	width: 100%;
	height: 100%;
	background-color: black;
}
h1, h3{
	color: white;
	font-family: Calibri;
	font-weight: lighter;
	display: inline-block;
}
h1{
	font-size: 96px;
	margin-right: 20px;
	position: relative;
	top: 2px;
}
span{
	color: white;
	font-size: 100px;
	font-weight: lighter;
	font-family: Bell MT;
	display: inline-block;
}
h3{
	font-size: 18px;
	position: absolute;
	top: 100px;
	margin-left: -108px;
}
center{
	position: relative;
	top: 40%;
}
